version: '2'
services:

  php:
    build: ./src/php
    restart: always
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./src/php/:/var/www/html/

  node:
    build: ./src/js
    working_dir: /opt/app/
    volumes:
      - .:/opt/app/
    ports:
      - '3000:3000'    
    command: 'npm run serve'